@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

.mobile-menu {
  position: absolute;
  background-color: rgba(242, 242, 242, 0.9450980392);
  width: 100%;
  height: 300px;
  z-index: 4;
  display: flex;
  flex-direction: column;
}
.mobile-menu .mobile-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
.mobile-menu .mobile-menu-list .mobile-menu-list-element {
  font-size: 2rem;
  margin-top: 2rem;
  cursor: pointer;
}

.nav-bar-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 200px;
  justify-content: space-around;
}

.nav-bar {
  width: 100%;
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #F2F2F2;
  padding: 1rem;
  z-index: 3;
}
.nav-bar .nav-bar-desktop-view {
  display: none;
}
@media screen and (min-width: 1010px) {
  .nav-bar .nav-bar-desktop-view {
    display: flex;
    width: 300px;
    list-style: none;
    justify-content: space-evenly;
    align-content: space-around;
  }
}
.nav-bar .edlficon-img {
  width: 4rem;
  height: 4rem;
}
.nav-bar .menu-icon {
  width: 4rem;
  height: 4rem;
}
@media screen and (min-width: 1010px) {
  .nav-bar .menu-icon {
    display: none;
  }
}
.nav-bar .nav-bar-title {
  font-size: 2rem;
  font-weight: 200;
  margin: 0;
  left: 0;
}

.element-navbar {
  transition: transform 0.5s ease-in-out;
}
.element-navbar:hover {
  transform: scale(1.2);
  font-weight: bold;
}

#slider {
  height: 300px;
  overflow: hidden;
  background-color: #262626;
}
@media screen and (min-width: 1010px) {
  #slider {
    height: 500px;
  }
}
#slider figure {
  position: relative;
  width: 500%;
  animation: 10s slider infinite;
}
#slider figure img {
  width: 20%;
  float: left;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (min-width: 1010px) {
  #slider figure img {
    -o-object-fit: contain;
       object-fit: contain;
    height: 500px;
  }
}

a {
  text-decoration: none;
  color: #262626;
}

.intro-banner {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.text-banner, .nuestros-servicios {
  width: 100%;
  height: 85px;
  background-color: #737373;
  color: #F2F2F2;
  text-align: center;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  place-content: center;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.text-body {
  font-size: 1.6rem;
  text-align: center;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.button-yellow, .bodas-reservar-button, .quinces-reservar-button {
  height: 50px;
  width: 297px;
  align-self: center;
  background-color: #F2CF66;
  border-style: none;
  font-size: 1.6rem;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: transform 500ms;
  transition-delay: 0.1s;
}
.button-yellow:hover, .bodas-reservar-button:hover, .quinces-reservar-button:hover {
  transform: scale(1.1);
  background-color: #edb50e;
}

.nuestros-servicios {
  height: 50px;
  margin-top: 0rem;
}

.services-image-preview {
  display: block;
  margin: 0 auto;
  width: 236px;
  height: 307px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 2rem;
  right: 0;
  left: 0;
}

.services-countainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}
@media screen and (min-width: 1010px) {
  .services-countainer {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.service-number {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3.2rem;
  margin-top: 1.2rem;
  width: 70px;
  height: 70px;
  background-color: #404040;
  border-radius: 50px;
  color: #F2F2F2;
}

.service-title {
  font-size: 3.2rem;
  margin-bottom: 0rem;
}

.service-description {
  font-size: 1.6rem;
  text-align: center;
  padding: 1rem;
}

.service-button {
  width: 300px;
  height: 32px;
  font-size: 1.6rem;
  cursor: pointer;
  background-color: #404040;
  color: #F2F2F2;
  margin-bottom: 1.6rem;
}

.about-us {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.staff-photo {
  width: 100%;
  height: 327px;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  z-index: 3;
  top: 60px;
}

.nosotros-text {
  position: absolute;
  font-size: 5rem;
  top: 110px;
  left: 100px;
  z-index: 1;
}

footer {
  background-color: #F2F2F2;
}

.about-us-text {
  margin-top: 15rem;
}

.footer-icon {
  width: 40px;
  height: 40px;
}

.social-media-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.intro-section {
  display: flex;
  flex-direction: column;
}

.cover-image-container {
  text-align: center;
}

.bodas-cover-image {
  margin-top: 10px;
  width: 600px;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  position: relative;
  align-items: center;
}

.bodas-cover-text {
  position: absolute;
  width: 150px;
  top: 50px;
  left: 125px;
  text-align: center;
  padding: 0.5rem;
  background-color: #737373;
  color: #F2F2F2;
  font-size: 1.6rem;
}

.bodas-reservar-button, .quinces-reservar-button {
  width: 150px;
  align-self: center;
  top: 300px;
}

.info-text {
  width: 100%;
  margin-top: 3rem;
}
@media screen and (min-width: 1010px) {
  .info-text {
    padding: 5rem;
    margin-top: 0;
  }
}

.single-image {
  margin-top: 10px;
  width: 600px;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  position: relative;
  align-items: center;
}

.info-title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  text-align: center;
}

.divider-title {
  width: 50%;
  display: block;
  margin: 0 auto;
  border: none;
  height: 2px;
  background-color: #737373;
}

.experience-info-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1010px) {
  .experience-info-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

.notecasastodoslosdias {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.presupuesto-container {
  display: flex;
  flex-direction: column;
}

.image-parrafo-container {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.image-parrafo {
  height: 300px;
}

.photo-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  margin-bottom: 20px;
}
.photo-gallery .image-gallery {
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.quinces-reservar-button {
  left: 120px;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
.inactive {
  display: none;
}/*# sourceMappingURL=styles.css.map */