@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$font-stack: "Poppins", sans-serif;
$white-navbar-footer: #F2F2F2;
$gray-elements: #737373;
$color-yellow: #F2CF66;
$yellow-over: #edb50e;
$text-color: #F2F2F2;
$black-color: #262626;
$circle-dark-color: #404040;
$transparentWhite:  #f2f2f2f1;
$breakpoints: (md: 930px);
//Mixins a usar
@mixin iconsize{
    width: 4rem;
    height: 4rem;
}
@mixin imageSizeH(){
    margin-top: 10px;
    width: 600px;
    height: 100%;
    object-fit: fill;
    position: relative;
    align-items: center;
}
@mixin circleServices{
    display: flex;
   justify-content: center;
   align-items: center;
    text-align: center;
    font-size: 3.2rem;
    margin-top: 1.2rem;
    width: 70px;
    height: 70px;
    background-color: $circle-dark-color;
    border-radius: 50px;
    color: $white-navbar-footer;   
}
@mixin transformScale(){
    transform: scale(1.1);
}

@mixin desktopview{
    @media screen and (min-width: 1010px){
        @content;
    }
}

//fin de los Mixins


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



html{
    font-size: 62.5%;
    font-family: $font-stack;
}

//Mobile menú
.mobile-menu{
 position: absolute;   
 background-color: $transparentWhite;
 width: 100%;
 height: 300px;
 z-index: 4;
 display: flex;
 flex-direction: column;
 .mobile-menu-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    .mobile-menu-list-element{
        font-size:2rem;
        margin-top: 2rem;
        cursor: pointer;
    }
 }

}
.nav-bar-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    justify-content: space-around;
}
.nav-bar{
    width: 100%;
    height: 6rem ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $white-navbar-footer;
    padding: 1rem;
    .nav-bar-desktop-view{
        display: none;
    }
    @include desktopview{
        .nav-bar-desktop-view{
            display: flex;
            width: 300px;
            list-style: none;
            justify-content: space-evenly;
            align-content: space-around;
        }
    }
    z-index: 3;
    .edlficon-img{
        @include iconsize();
     }
     .menu-icon{
         @include iconsize();
         @include desktopview{
            display: none;
         }
     }
     .nav-bar-title{
        font-size: 2rem;
        font-weight: 200;
        margin: 0;
        left: 0;
     }
     
}
.element-navbar{
    transition: transform 0.5s ease-in-out;
    &:hover{
        transform: scale(1.2);
        font-weight: bold;
    }
}

#slider{
    height: 300px;
    overflow: hidden;
    background-color: $black-color;
    @include desktopview(){
        height: 500px;
    }
    figure{
        position: relative;
        width: 500%;
        animation: 10s slider infinite;
        img{
            width: 20%;
            float: left;
            height: 300px;
            object-fit:contain;
            @include desktopview(){
                object-fit: contain;
                height: 500px;
            }
        }
    }
}
a{
    text-decoration: none;
    color: $black-color;
}

.intro-banner{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.text-banner{
    width: 100%;
    height: 85px;
    background-color: $gray-elements;
    color: $white-navbar-footer;
    text-align: center;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    place-content: center;  
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.text-body{
    font-size: 1.6rem;
    text-align: center;
    padding: 1rem;
    font-family: $font-stack;
    font-weight: 400;
    
 
}
.button-yellow{
    height: 50px;
    width: 297px;
    align-self: center;
    background-color: $color-yellow;
    border-style: none;
    font-size: 1.6rem ;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: transform 500ms;
    transition-delay: 0.1s;

    &:hover{
        transform: scale(1.1);
        background-color: $yellow-over;
    }
}
.nuestros-servicios{
    @extend .text-banner;
    height: 50px;
    margin-top: 0rem;
}

.services-image-preview{
    display: block;
    margin: 0 auto;
    width: 236px;
    height: 307px;
    object-fit: contain;
    margin-top: 2rem;
    right: 0;
    left: 0;
}
.services-countainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    @include desktopview(){
        width: 100%;
        display: flex;
        flex-direction: row;
    }
}

.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  
    
}
.service-number{
    @include circleServices();
 }
 .service-title{
    font-size: 3.2rem;
    margin-bottom: 0rem;
 }
 .service-description{
    font-size: 1.6rem;
    text-align: center;
    padding: 1rem;
 }
 .service-button{
    width: 300px;
    height: 32px;
    font-size: 1.6rem ;
    cursor: pointer;
    background-color: $circle-dark-color;
    color: $white-navbar-footer;
    margin-bottom: 1.6rem;
 }

 .about-us{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }

 .staff-photo{
   width: 100%;
   height: 327px;
   object-fit: contain;
   position: absolute;
   z-index: 3;
   top: 60px;

 }

 .nosotros-text{
    position: absolute;
    font-size: 5rem;
    top: 110px;
    left: 100px;
    z-index: 1;
 }

 footer{
    background-color: $white-navbar-footer;
  
 }
 .about-us-text{
    margin-top: 15rem;
}
 .footer-icon{
    width: 40px;
    height: 40px;
 }

 .social-media-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 }

 //estilos pagina bodas.
.intro-section{
    display: flex;
    flex-direction: column;
}
.cover-image-container{
    text-align: center;
}
 .bodas-cover-image{
  @include imageSizeH();
 }

 .bodas-cover-text{
    position: absolute;
    width: 150px;
    top: 50px;
    left: 125px;
    text-align: center;
    padding: 0.5rem;
    background-color: $gray-elements;
    color: $white-navbar-footer;
    font-size: 1.6rem;
 }

.bodas-reservar-button{
    @extend .button-yellow;
    width: 150px;
    align-self: center;
    top: 300px;

}
.info-text{
    width: 100%;
    margin-top: 3rem;
    @include desktopview(){
        padding: 5rem;
        margin-top: 0;
    }
}
.single-image{
    @include imageSizeH();
}
.info-title{
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-size: 2rem;
    text-align: center;
}
.divider-title{
    width: 50%;
    display: block;
    margin: 0 auto;
    border: none;
    height: 2px;
    background-color: $gray-elements;
}
.experience-info-container{
    display: flex;
    flex-direction: column;
    @include desktopview(){
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}
.notecasastodoslosdias{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.presupuesto-container{
    display: flex;
    flex-direction: column;

}
.image-parrafo-container{
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}
.image-parrafo{
    height: 300px;
}
.photo-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    margin-bottom: 20px;
    .image-gallery{
        width: 100%;
        height: auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease;
    }

}
//estilos quinces page
.quinces-reservar-button{
    @extend .bodas-reservar-button;
    left: 120px;
}

@keyframes slider {
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}

.inactive{
    display: none;
}

